body {
    width: auto;
}

.container{
    width: fit-content;
    margin: auto;
    margin-top: 50px;
}

#sudoku {
    display: grid;
    grid: repeat(1, 50px) / repeat(3, 50px);
    border: 2px solid black;
}

.boxes {
    border: 1px solid black;
    padding: 25%;
    text-align: center;
    vertical-align: middle;
}

/* .numbers {
    width: auto;
    margin: 25%;
    padding: 0px;
    border: none;
    text-align: center;
} */

.body button {
    margin: 25% auto;
}